target/
!.mvn/wrapper/maven-wrapper.jar
.fbExcludeFilterFile

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Keystores
src/main/resources/keystores/*.p12
